@font-face {
    font-family: 'GP50_EUCJ';
    font-style: normal;
    font-weight: 400;
    src: local('GP50_EUCJ'), url('https://github.com/aerovsta/vs-font/blob/main/00002_6.ttf') format('woff');
}
